.content {
  width: 90%;
  margin: auto;
  padding-top: 50px;
}
.banner img {
  width: 100%;
}
.title h1 {
  color: #03ac34;
  font-size: 36px;
  line-height: 50px;
}
.element p {
  margin: 0 0 25px 0;
  font-size: 16px;
}
.element .ele-bold {
  font-weight: bold;
}
.element .ele-ps {
  font-size: 23px;
  font-style: italic;
}
