#navbar img {
  cursor: pointer;
}
footer img {
  cursor: pointer;
}
#blog,
#blog-content {
  width: 60%;
  margin: auto;
  padding-top: 50px;
  color: #716f73;
}
#blog-content img {
  width: 100%;
}
.banner {
  text-align: center;
}
.banner img {
  width: 100%;
}
.title h2 {
  color: #03ac34;
  line-height: 50px;
}
.description {
  padding-bottom: 30px;
  height: 50px;
}
.description p {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.element p {
  margin: 0 0 25px 0;
  font-size: 16px;
  text-align: justify;
}
