#body {
  display: flex;
  flex-grow: 1;
}
/*Timeline style*/
.timeline {
  position: relative;
  background: white;
  margin: auto;
  padding-top: 30px;
}
/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #131b38;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
/* Container around content */
.container_timeline {
  padding: 15px 0;
  position: relative;
  background-color: inherit;
  margin: 0;
}
.container_timeline:hover {
  cursor: pointer;
}
/* The circles on the timeline */
.container_timeline::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.container_timeline:nth-child(2n+1) {
  left: -50%;
}
.container_timeline:nth-child(2n+1)::after {
  border: 4px solid rgba(70,173,38,1);
}
.container_timeline:nth-child(2n) {
  left: 50%;
  padding-left: 30px;
  right: 0;
}
.container_timeline:nth-child(2n)::after {
  left: -13px;
  border: 4px solid rgba(70,173,38,1);
}
.container_timeline:nth-child(2n) .description{
  order: 2;
}
.container_timeline:nth-child(2n) .timeline-pic{
  order: 1;
}
.description-content {
  width: 250px;
  height: 150px;
  overflow: hidden;
}
/* The actual content */
.content_timeline {
  padding: 20px 30px;
  background-color: #131b38;
  position: relative;
  border-radius: 6px;
}
.timeline-pic {
  width: 250px;
  height: 200px;
  padding: 0;
}
.timeline-pic img {
  height: 100%;
  width: 100%;
}

.pagination {
  width: 100%;
  text-align: center;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
